section.content-header.oh
  h1.pull-left
    | {{course.name}}&nbsp;&nbsp;
    a.text-yellow(href="#/faculty/{{course.abbr}}/settings")
      i.fa.fa-pencil

//- Main content
section.content
  h2.text-uppercase Students
  p
    strong
      | Sort By:&nbsp;
    a.selected(ng-click="filter = 'pending'", , ng-class="{'text-muted no-hover': filter == 'pending', 'pointer': filter != 'pending'}") Pending
    | &nbsp;&nbsp;|&nbsp;&nbsp;
    a(ng-click="filter = 'grade'", ng-class="{'text-muted no-hover': filter == 'grade', 'pointer': filter != 'grade'}") Grade
    strong
      | &nbsp;&nbsp;&nbsp; Order By:&nbsp;
    a.selected(ng-click="asc = true", , ng-class="{'text-muted no-hover': asc, 'pointer': !asc}") Low to High
    | &nbsp;&nbsp;|&nbsp;&nbsp;
    a(ng-click="asc = false", ng-class="{'text-muted no-hover': !asc, 'pointer': asc}") High to Low
    strong
      | &nbsp;&nbsp;&nbsp; Show: &nbsp;
    a(ng-click="showArchive = 0", ng-class="{'text-muted no-hover':showArchive == 0, pointer: showArchive != 0}") Active Students
    | &nbsp;&nbsp;|&nbsp;&nbsp;
    a(ng-click="showArchive = 1", ng-class="{'text-muted no-hover':showArchive == 1, 'pointer': showArchive != 1}") Archived Students
  ul.timeline
    li.time-label
      span.text-uppercase.pointer
        | Students
      ul.timeline
        li.time-label(ng-if="!course.Students")
          span.text-uppercase
            | No Students
        li.time-label(ng-repeat-start="student in course.Students | filter: {Student: {archive: showArchive}} | orderBy: orderFn" ng-init="student.show = false", collapse="student-show", ng-click="student.show = !student.show",ng-class="{end:!student.show}")
          .line.border-color.submit(ng-show="student.show")
          i.fa.timeline-icon.color.submit
          span.text-uppercase.pointer.background-color.submit
            | {{student.name}} - {{getPercent(student.StudentMissions,student.StudentLevels)}}% (Pending: {{getPending(student.StudentMissions)}})


        li.timeline-item(collapse="!student.show", ng-repeat-end="", ng-repeat="(index, mission) in student.StudentMissions")
          .line.border-color(class="{{mission | class}}")
          i.fa.timeline-icon.color(class="{{mission | class}}")
          .timeline-item(class="{{mission | class}}")
            h3.timeline-header(ng-click="showDescription = !showDescription")
              | {{index + 1}}. {{mission.Mission.name}}
              .pull-right(ng-if="mission.MissionStatusId === 3", style="margin: -8px")
                a.btn.btn-reject(ng-click="changeStatus(mission, 2)") Reject
                | &nbsp;
                a.btn.btn-warning(ng-click="changeStatus(mission, 4)") Accept
            .timeline-body(ng-if="mission.MissionStatusId === 3 || showDescription")
              div(ng-repeat="comment in mission.Comments")
                include ../common/comment
              form(ng-submit="addComment(mission,newComment)",method="post").comment
                h4 Add Comment
                textarea.textarea(ng-model="newComment.text", placeholder='Comment', style='width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')
                button.btn.btn-warning.timeline-btn.btn-block(type="submit") Send Comment



#newTerm.modal.fade(role="dialog")
  .modal-dialog
    form.modal-content(action="{{course.abbr}/term", method="POST")
      .modal-header
        button.close(type="button",data-dismiss="model")
          i.fa.fa-times
        h4.modal-title
          | New Term
      .modal-body
        .form-group
          label(for="name") Name
          input.form-control(type="text", id="name", name="name")

      .modal-footer
        button.btn.btn-warning(type="submit") Create Term