h1 Your flights
ul
  for flight in flights
    li
      a(href="/faculty/flights/#{flight.id}") #{flight.abbr}

form(action="/faculty/flights", method="POST")
  h4 New Course
  div
    label(for="name") Name:
    input(type="text", id="name", name="name")
  div
    label(for="abbr") Abbreviation:
    input(type="text", id="abbr", name="abbr")
  div
    button(type="submit") Create Course