//- Main content
section.content
  .row
    .col-md-6
      form(ng-submit="createFlight()")
        .form-group
          label(for="name") Name:
          input.form-control(type="text", id="name", ng-model="newFlight.name")
        .form-group
          label(for="abbr") Abbreviation:
          input.form-control(type="text", id="abbr", ng-model="newFlight.abbr")
        .form-group
          button.btn.btn-warning(type="submit") Create Flight