section.content-header
  h1
   | {{course.name}}&nbsp;&nbsp;
   i.fa.fa-gear.text-yellow(ng-click="showSettings = !showSettings")
//- Main content
section.content
  .well(collapse="!showSettings")
    h4.text-uppercase Level Locking
    .radio(ng-repeat="type in course.LockTypes")
      label
        input(type="radio", ng-model="course.LockTypeId", value="{{type.id}}")
        | {{type.value}}
    button.btn.btn-warning(ng-click="updateLockType()") Save
    br
    br
    br
    h4.text-uppercase Number of Missions Per Level
    table.table
      tr
        th(width="50%") Level
        th Missions in the Level
      tr(ng-repeat="(index, level) in course.Levels")
          td.text-uppercase
            | {{level.name}}
            span.text-muted
              | &nbsp;(Suggested: {{ index === 4 ? 'Final' : 'Week '+(index+1)}})
          td
            .input-group
              input.form-control(type="text",ng-model="level.to_complete")
              span.input-group-btn
                button.btn.btn-warning(ng-click="updateLevel(level)") Save


  ul.timeline
    li.time-label.locked
      span.text-uppercase
        | Missions

    //- Add Level
    li.timeline-item.add
      i.fa
      form(ng-submit="addArea()").timeline-item
        .timeline-body(collapse="!showArea")
          h4 New Area
          .form-group
            label(for="name") Name
            input.form-control(type="text", id="name", ng-model="newArea.name")
          label Include in Levels:
          .form-group
            .checkbox(ng-repeat="level in course.Levels")
              label.text-uppercase(for="level-{{level.id}}")
                input(id="level-{{level.id}}", type="checkbox", checklist-model="newArea.levels", checklist-value="level.id")
                | {{level.name}}


        button.btn.btn-block.timeline-btn(type="submit" ng-click="showArea = !showArea") Create Area

    //- Add Mission
    li.timeline-item.add
      i.fa
      form(ng-submit="addMission()").timeline-item
        .timeline-body(collapse="!showMission")
          h4 New Mission
          .form-group
            label(for="area") Area
            select.form-control#area(ng-model="newMission.AreaId")
              option.text-uppercase(value="{{area.id}}", ng-repeat="area in course.Areas") {{area.name}}
          .form-group
            label(for="name") Name
            input.form-control(type="text", id="name", ng-model="newMission.name")

          text-angular(name="description", placeholder='Description',  ng-model="newMission.description")
        button.btn.btn-block.timeline-btn(type="submit",ng-click="showMission = !showMission") Create Mission
    ul.timeline
      //- area titles
      li.time-label.submit(ng-click="area.show = !area.show",ng-repeat-start="area in course.Areas", ng-class="{end: !area.show || area.Missions.length == 0}")
        span.text-uppercase
          | {{area.name}} (Missions: {{area.Missions.length}})

      //- missions in area
      li.timeline-item.update(collapse="!area.show",ng-repeat-end="",ng-repeat="mission in area.Missions")
        i.fa
        form(ng-submit="updateMission(mission)").timeline-item
          h3.timeline-header
            | {{mission.name}}
            a.pull-right.fa.fa-trash(ng-click="deleteMission(area.Missions, $index)")
          .timeline-body
            text-angular(ng-model="mission.description")
          button.btn.btn-warning.btn-block.timeline-btn(type="submit")
            | {{ mission.button ? mission.button : 'Update Mission'}}