.timeline>li>.timeline-item.locked {
  background-color: rgba(255,255,255,0.3);
}

li.ui-state-hover .timeline-item{
  background-color: rgba(255,255,255,0.6);
}

.timeline-item .timeline-header .timeline-btn {
  margin-top: -2px;
}


.missions ul {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 100%;
  height: 100%;
  width: auto;
  white-space: nowrap;
  transform: translateX(-100%);
  background: #B44659;
  transition: 0.5s transform;
}

.missions:hover ul {
  transform: translateX(0);
}

.timeline:before {
  left: 46px;
  display: block;
  content: '';
}
.time-label span {
  min-width: 100px;
  text-align: center;
}
.timeline>li.time-label.unlocked span{
  background-color: #21C0B5;
  color: #fff;
  position: relative;
  z-index: 1;
}

.timeline>li.time-label.unlocked:before {
  border-color: #21C0B5;
  height: 55px;
  top: 30px;
  padding-bottom: 0;
}
.timeline>li.time-label.locked span {
  background-color: #d2d6de;
  color: #000;
}
.timeline>li {
  margin-bottom: 25px;
  margin-right: 0;
}

.timeline li.time-label:after {
    display: none;
}

.timeline>li:before {
  display: block;
  content: '';
  border: 2px solid transparent;
  width: 0px;
  height: 0;
  position: absolute;
  left: 46px;
  transition: 0.5s all 0.5s;
  top: 30px;
  padding-bottom: 23px;
}

.timeline li.timeline-item > i.fa {
  display: block;
  content: '';
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  position: absolute;
  border-width: 29px 35px;
  top: 0;
  left: 16px;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  transition: 0.5s left;
}

.timeline li.timeline-label > i.fa:before {
    display: none;
}

.timeline .timeline-item .list-group > i.fa {
  margin-left: 0;
}
.timeline li.timeline-item > i:before
{
  display: block;
  font-size: 16px;
  line-height: 50px;
  /* color: #fff; */
  left: 14px;
  position: absolute;
  top: -25px;
}

.timeline li.timeline-item > i:after {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  display: inline-block;
  font-weight: 700;
}

.timeline .timeline-btn {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  display: inline-block;
  font-weight: 700;
  border-radius: 0 0 3px 3px;
  padding: 3px;
  color: #fff;
}
.timeline .complete > i:before {
  content: "\f00c";
  color: white;
}
.timeline>li.complete > i.fa {
    border-right-color: #21C0B5;
}
.timeline .complete .timeline-btn:after {
  content: 'complete';
}
.timeline .complete .timeline-btn {
  background-color: #21C0B5;
}
.timeline>li.complete:before {
  border-color: #21C0B5;
  height: 100%;
  box-sizing: content-box;
}

.callout
{
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  margin-top: 20px;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 5px solid #eee;
}
.callout h4
{
  margin-bottom: 0;
}
.list-group
{
  border: 1px solid #ddd;
  border-left: 5px solid #eee;
  padding: 20px;
  border-radius: 0 0 3px 3px
}
.timeline .pending .timeline-btn:not(.btn-warning), .callout-pending {
  background-color: #83CAC3;
}
.timeline .pending .timeline-btn:not(.btn-warning):after {
  content: 'pending';
}

.timeline .pending > i:before {
  content: "\f017";
}
.timeline>li.pending > i.fa {
  color: #83CAC3;
}

.timeline>li.pending:before {
  border-color: #83CAC3;
  height: 100%;
  box-sizing: content-box;
}


.timeline .resubmit .timeline-btn {
  background-color: #CF850F;
  cursor: pointer;
}
.timeline .resubmit .timeline-btn:after {
  content: 'resubmit';
}
.timeline>li.resubmit:before {
  /* border-color: #CF850F; */
  /* height: 25px; */
}
.timeline>li.resubmit > i.fa {
  color: #CF850F;
}

.timeline>li.selected > i.fa {
    left: 100%;
}
.timeline .resubmit > i:before {
  content: "\f01e";
}

.timeline .submit .timeline-btn {
  background-color: #F39C12;
  cursor: pointer;
}
.timeline .submit .timeline-btn:after {
  content: 'submit';
}
.timeline .submit > i.fa {
  color: #F39C12;
}
.timeline .submit > i:before {
  content: "\f111";
}

.select .timeline-btn, .add .timeline-btn {
  background-color: #F3C070;
}
.select .timeline-btn:after {
  content: 'select mission';
}
.timeline .add > i:before {
  content: "\f067";
}
.select > i.fa:before {
  content: "\f10c";
}
.timeline .select > i.fa, .timeline .add > i.fa {
  color: white;
  border-right-color: #F3C070;
}

.timeline-item.select .timeline-item, .timeline-item.locked .timeline-header{
    background-color: #888;
}
.timeline .locked > i {
  border-right-color: #888;
}
.timeline .locked .timeline-btn {
  background-color: #888;
}
.timeline .locked .timeline-btn:after {
  content: 'locked';
}
.timeline li.timeline-item.locked > i:before {
  content: "\f023";
  color: #fff;
  left: 17px;
}
.timeline .locked > i.fa {
  color: #888;
}

.select .submit .timeline-btn:after {
  content: 'select';
}


.timeline .remove i {
  background-color: #CF850F;
  cursor: pointer;
}
.timeline .remove i:before {
  content: "\f00d";
}
.timeline .remove .timeline-btn:after {
  content: 'Delete';
}

li.timeline-item .timeline-item
{
  margin-left: 85px;
  margin-right: 1px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
}

.timeline>li.complete .timeline-header, .timeline>li.complete .timeline-body, .progress-bar {
    background: #21C0B5;
    color: white;
}
.timeline>li>.timeline-item>.timeline-header {
  padding: 21px 10px;
  position: relative;
  left: 0;
  transition: 0.5s left;
}
.timeline-header {
  background-color: white;
}

.timeline>li.locked>.timeline-item>.timeline-header {
    color: white;
}

.timeline>li.complete>.timeline-item>.timeline-header {
    color: white;
}

.timeline .list-group-item {
  padding: 0;
}
.timeline .list-group-item .list-group-item-text {
  padding: 10px;
}
.timeline .list-group-item.submit {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px
}
.timeline .list-group-item.submit:first-child {
  margin-top: 0;
}

.timeline .list-group-item.submit h4 {
  line-height: 40px;
  padding: 10px 20px;
  margin: 0;
}
.list-group-item-heading
{
    border-bottom: 1px solid #eee
}

h4.list-group--heading {
  border-bottom: 1px solid #f4f4f4;
}

.list-group-item-heading {
  padding: 10px;
}

h4.list-group-title {
    border-bottom: 1px solid #999;
}

li.selected .timeline-item .timeline-header {
    left: 100%;
}
.timeline-item {
}
.timeline-item.selected > i.fa
{
  margin-left: -77px
}

.timeline-item.selected .submit-link {
  left: 86px;
}
.timeline-item .submit-link {
  width: 100%;
  transition: 0.5s left;
  position: absolute;
  left: -100%;
  margin-left: 0px;
  padding: 16px;
  font-size: 20px;
  border: none;
  z-index: 2;
}
.timeline-item form {
  margin: 10px 0 ;
}
.timeline-item form .submit-link{
  width: 100%;
}

.timeline>li>.timeline-item>.timeline-body {
  padding: 0 10px;
  min-height: 0;
  transition: 0.5s height;
  overflow: hidden;
}
.timeline-body {
  background-color: white;
}

.timeline .timeline-item.select .timeline-body {
    background: white;
}
.embedly-card, blockquote {
  margin: 10px 0;
}

.comment {
  margin: 10px 0;
}

.textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dddddd;
  padding: 10px;
}

.skin-yellow nav.navbar.navbar-static-top {
    background: #222d32;
}

.skin-yellow .main-header .logo {
    background: #1a2226;
    border-bottom: 1px solid #222d32;
}

.oh {
  overflow: hidden;
}

.timeline-header h3 {
  margin: 0;
}

.btn-reject
{
  background: #CF850F;
  color: white;
}
.timeline .timeline-header a.fa {
  color: #777;
}
.timeline .time-label > i
{
  line-height: 1.4;
  color: white;
}

.timeline-item > i
{
  border-right-color: white;
  color: #000;
}

.margin-top {
  margin-top: 20px;
}