//- Main content
section.content
  div(ng-if="levels.length == 0")
    h3 {{course.name}}
    p You aren't currently particiaping in this flight.
    a.btn.btn-block.btn-warning(ng-click="joinFlight()") Start your Training
  div(ng-if="levels")
    .row
      .col-md-12
        ul.timeline#timeline
          li.time-label(ng-repeat-start="studentLevel in levels", ng-class="getLevelClass(levels, $index)")
            span.text-uppercase
              | {{studentLevel.Level.name}}
          li.timeline-item(ng-class="getClass(mission)", ng-repeat="( missionIndex, mission) in range(studentLevel.StudentMissions,studentLevel.to_complete)", ng-repeat-end="")
            input(type="text",class="submit-link",placeholder="submittion link", ng-model="link")
            i.fa
            .timeline-item(ng-if="!mission.MissionStatusId")
              h3.timeline-header(collapse="!showMission")
                | Select Mission
              .timeline-body(collapse="!showMission")
                .callout(ng-repeat-start="area in studentLevel.Level.Areas", ng-click="showArea = !showArea", ng-class="{'border-bottom':!showArea}")
                  h4
                    | {{area.name}}
                    span.pull-right
                      i.fa.text-muted(ng-class="{'fa-chevron-up':!showArea,'fa-chevron-down':showArea}")
                .list-group(collapse="!showArea")
                  .list-group-item.submit(ng-repeat="mission in area.Missions",)
                    h4.list-group-heading(ng-click="showDescription = !showDescription")
                      | {{mission.name}}
                      span.pull-right
                        i.fa.text-muted(ng-class="{'fa-chevron-up':!showDescription,'fa-chevron-down':showDescription}")
                    .list-group-item-text(collapse="!showDescription")
                      blockquote(ng-bind-html="mission.description")
                    .btn.btn-block.timeline-btn(ng-click='selectMission(studentLevel, mission, missionIndex)')
                div(ng-repeat-end="")
                .callout(ng-click="showAdd = !showAdd", ng-class="{'border-bottom':!showAdd}")
                  h4
                    | Submit Your Own
                    span.pull-right
                      i.fa.text-muted(ng-class="{'fa-chevron-up':!showAdd,'fa-chevron-down':showAdd}")
                .list-group(collapse="!showAdd")
                  .list-group-item.submit
                    .list-group-item-text
                      .form-group
                        label Title
                        input.form-control(type="text",name="name")
                      .form-group
                        label Description
                        textarea.textarea(name="description")
                    button.btn.btn-block.timeline-btn(type="submit")
              .btn.btn-block.timeline-btn(ng-click="showMission = !showMission")
            .timeline-item(ng-if="mission.MissionStatusId === 1")

              h3.timeline-header
                | {{mission.Mission.name}}
                a(ng-click="deleteMission(mission.id, missionIndex,studentLevel)").pull-right
                  i.fa.fa-trash
              .timeline-body(collapse="mission.selected")
                blockquote(ng-bind-html="mission.Mission.description")
              .btn.btn-block.timeline-btn(ng-click="submitMission(mission,link); mission.selected = true")
            .timeline-item(ng-if="mission.MissionStatusId === 2")
              h3.timeline-header
                | {{mission.Mission.name}}
              .timeline-body(collapse="mission.selected")
               dic(ng-repeat="comment in mission.Comments")
                  include ../common/comment
              .btn.btn-block.timeline-btn(ng-click="submitMission(mission,link); mission.selected = true")
            .timeline-item(ng-if="mission.MissionStatusId === 3")
              h3.timeline-header {{mission.Mission.name}}
              .timeline-body(ng-show="mission.Comments.length")
                div(ng-repeat="comment in mission.Comments")
                  include ../common/comment
            .timeline-item(ng-if="mission.MissionStatusId === 4")
              h3.timeline-header {{mission.Mission.name}}
              .timeline-body(ng-show="mission.Comments.length")
                div(ng-repeat="comment in mission.Comments")
                  blockquote(ng-if="comment.CommentTypeId !== 1")
                    strong {{comment.User.name}}:&nbsp;
                    | {{comment.text}}

script(type='text/javascript').
  $(function () {
    $('#timeline').on('click','.list-group-item .btn', function(event) {
        if(this.tagName === 'BUTTON')
        {
          var mission = $(this).parent();
          var name = mission.find('input').val();
          var desc = mission.find('textarea').val();
          var item = mission.closest('.timeline-item');
          var level_id = item.parent().attr('level-id');
          $.ajax({
            url: '/flights/add/mission',
            method: 'POST',
            data:{
              name: name,
              description: desc,
              LevelId: level_id,
              MissionStatusId: 1
            },
            success: function(data)
            {
              item.parent().attr('data-toggle','').attr('href','').removeClass('select').addClass('submit').attr('mission-id',data.id);
              var course_abbr = $('.content').attr('course-abbr')
              var trash = $('<a href="" class="pull-right"></a>').attr('href',course_abbr+"/delete/"+data.id).html('<i class="fa fa-trash"></i>')
              item.prepend('<div class="timeline-header"></div>').find('.timeline-header').text(name).append(trash);
              mission_descr = $("<blockquote></blockquote").text(desc)
              item.find('.timeline-body').addClass('in').attr('style','').html(mission_descr);

            }

            })

        }
        else {
          var mission = $(this).parent();
          var mission_id = mission.attr('mission-id');
          var item = mission.closest('.timeline-item');
          var level_id = item.parent().attr('level-id');
          $.ajax({
              url: '/flights/mission',
              method: 'POST',
              data: {
                MissionId: mission_id,
                LevelId: level_id,
                MissionStatusId: 1
              },
              success: function(data)
              {
                item.parent().attr('data-toggle','').attr('href','').removeClass('select').addClass('submit').attr('mission-id',data.id);
                var course_abbr = $('.content').attr('course-abbr')
              var trash = $('<a href="" class="pull-right"></a>').attr('href',course_abbr+"/delete/"+data.id).html('<i class="fa fa-trash"></i>')
                item.prepend('<div class="timeline-header"></div>').find('.timeline-header').text(mission.find('.list-group-heading').text()).append(trash);;
                mission_descr = mission.find('.list-group-item-text').html();
                item.find('.timeline-body').addClass('in').attr('style','').html(mission_descr);
              }
            });
        }
      })

      $('#timeline').on('click','.timeline-item[class*="submit"] .btn', function(event)
        {

          var item = $(this).closest('li.timeline-item');
          var body = item.find('.timeline-body')
          if(!item.hasClass('selected'))
          {
            item.prepend('<input type="text" class="submit-link" placeholder="submittion link" />')
            setTimeout(function() {
              item.addClass('selected');
            });
            body.html('');
          }
          else
          {
            var id = item.attr('mission-id');
            var link = item.find('input').val();
            var data = {
              StudentMission: {
                id: id,
                MissionStatusId: 3,
              },
              Comment: {
                StudentMissionId: id,
                text: link,
                CommentTypeId: 1
              }
            }
            $.ajax({
              url: '/flights/mission',
              method: 'PUT',
              contentType: "application/json",
              data:  JSON.stringify(data),
              success: function(){
                item.addClass('pending').removeClass('submit').removeClass('resubmit').removeClass('selected').find('input').remove();
                body.append('<a class="embedly-card" data-card-width="100%" href="'+link+'">')

              }
            })
          }

        });
      });