//- Main content
section.content
  div(ng-if="levels.length == 0")
    h3 {{course.name}}
    p You aren't currently particiaping in this flight.
    a.btn.btn-block.btn-warning(ng-click="joinFlight()") Start your Training
  div(ng-if="levels")
    .row
      .col-md-12
        ul.timeline#timeline
          li.time-label(ng-repeat-start="studentLevel in levels", ng-class="studentLevel.locked = getLocked(studentLevel, levels[$index-1]);",class="{{getLevelClass(levels, $index) | class}}")
            .line.border-color(class="{{getLevelClass(levels, $index) | class}}")
            span.text-uppercase.background-color(ng-class="{locked: studentLevel.locked}", class="{{getLevelClass(levels, $index) | class}}")
              | {{studentLevel.Level.name}}
          li.timeline-item.locked(ng-if="studentLevel.locked")
            i.fa
            .timeline-item
              h3.timeline-header Complete missions in previous levels to unlock this one
          li.timeline-item(ng-hide="studentLevel.locked", ng-class="{selected: mission.selected}" ng-repeat="( missionIndex, mission) in range(studentLevel.StudentMissions,studentLevel.to_complete)", ng-repeat-end="")
            .line.border-color(class="{{mission | class}}")
            input(type="text",class="submit-link",placeholder="submittion link", ng-model="link")
            i.fa.timeline-icon.color(class="{{mission | class}}")

            //- Empty Item
            //- Class: Select
            .timeline-item(ng-if="!mission.MissionStatusId")
              h3.timeline-header(collapse="!showMission")
                | Select Mission
              .timeline-body(collapse="!showMission")
                .callout(ng-repeat-start="area in studentLevel.Level.Areas", ng-click="showArea = !showArea", ng-class="{'border-bottom':!showArea}")
                  h4
                    | {{area.name}}
                    span.pull-right
                      i.fa.text-muted(ng-class="{'fa-chevron-down':!showArea,'fa-chevron-up':showArea}")
                .list-group(collapse="!showArea")
                  .list-group-item.submit(ng-repeat="mission in area.Missions",)
                    h4.list-group-heading(ng-click="showDescription = !showDescription")
                      | {{mission.name}}
                      span.pull-right
                        i.fa.text-muted(ng-class="{'fa-chevron-down':!showDescription,'fa-chevron-up':showDescription}")
                    .list-group-item-text(collapse="!showDescription")
                      blockquote(ng-bind-html="mission.description")
                    .btn.btn-block.timeline-btn.background-color.submit(ng-click='selectMission(studentLevel, mission, missionIndex)') Select
                div(ng-repeat-end="")
                .callout(ng-click="showAdd = !showAdd", ng-class="{'border-bottom':!showAdd}")
                  h4
                    | Submit Your Own
                    span.pull-right
                      i.fa.text-muted(ng-class="{'fa-chevron-down':!showAdd,'fa-chevron-up':showAdd}")
                .list-group(collapse="!showAdd")
                  .list-group-item.submit
                    .list-group-item-text
                      form(ng-submit="submitOwn(studentLevel, own, missionIndex)")
                        .form-group
                          label Title
                          input.form-control(type="text",ng-model="own.name")
                        .form-group
                          label Description
                          textarea.textarea(ng-model="own.description")
                        button.btn.btn-block.timeline-btn.background-color.submit(type="submit") Submit
              .btn.btn-block.timeline-btn.background-color.select(ng-click="showMission = !showMission") Select Mission

            //- Selected Item
            //- Class: Selected
            .timeline-item(ng-if="mission.MissionStatusId === 1")
              h3.timeline-header
                | {{mission.Mission.name}}
                a(ng-click="deleteMission(mission.id, missionIndex,studentLevel)").pull-right
                  i.fa.fa-trash
              .timeline-body(collapse="mission.selected")
                blockquote(ng-bind-html="mission.Mission.description")
              .btn.btn-block.timeline-btn.background-color.submit(ng-click="submitMission(mission,link); mission.selected = true;") Submit Mission

            //- Rejected Item
            //- Class: Resubmit
            .timeline-item(ng-if="mission.MissionStatusId === 2")
              h3.timeline-header
                | {{mission.Mission.name}}
              .timeline-body(collapse="mission.selected")
               dic(ng-repeat="comment in mission.Comments")
                  include ../common/comment
              .btn.btn-block.timeline-btn.background-color.resubmit(ng-click="submitMission(mission,link); mission.selected = true",class="{{mission | class}}") Resubmit Mission

            //- Submitted Item
            //- Class: Submitting
            .timeline-item(ng-if="mission.MissionStatusId === 3")
              h3.timeline-header {{mission.Mission.name}}
              .timeline-body(ng-show="mission.Comments.length")
                div(ng-repeat="comment in mission.Comments")
                  include ../common/comment

            //- Accepted Item
            //- Class: Complete
            .timeline-item(ng-if="mission.MissionStatusId === 4")
              h3.timeline-header {{mission.Mission.name}}
              .timeline-body(ng-show="mission.Comments.length")
                div(ng-repeat="comment in mission.Comments")
                  blockquote(ng-if="comment.CommentTypeId !== 1")
                    strong {{comment.User.name}}:&nbsp;
                    | {{comment.text}}
                    .meta.pull-right {{comment.createdAt | date: 'EEE MMM d, y h:mm a'}}