a.embedly-card(href="{{comment.text}}", data-card-width="100%" target="_blank", ng-if="comment.CommentTypeId === 1") {{comment.text}}
blockquote.embedly-card(ng-if="comment.CommentTypeId != 1")
  strong {{comment.User.name}}:&nbsp;
  | {{comment.text}}